---
layout: default
title: Home
---

<div class="jumbotron">
  <h1>{{ site.posts[0].title }}</h1>
  <span class="text-muted">{{ site.posts[0].date | date_to_string }}</span>
  <blockquote>
    <p>
      {{ site.posts[0].excerpt }}
      <span class="text-info">...</span>
    </p>
  </blockquote>
  <p>
    <a class="btn btn-lg btn-success" href="{{ site.posts[0].url }}">Read More »</a>
  </p>
</div>

<div class="row">
  {% for post in site.posts limit:2 offset:1 %}
  <div class="col-6 col-xs-12 col-sm-12 col-lg-6">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <span class="text-muted">{{ post.date | date_to_string }}</span>
    <blockquote>
      <p>{{ post.excerpt }}</p>
      <a class="btn btn-primary btn-sm" href="{{ post.url }}">read more &raquo;</a>
    </blockquote> 
  </div>
  {% endfor %}
</div>

<div class="row">
  {% for post in site.posts limit:2 offset:3 %}
  <div class="col-6 col-xs-12 col-sm-12 col-lg-6">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <span class="text-muted">{{ post.date | date_to_string }}</span>
    <blockquote>
      <p>{{ post.excerpt }}</p>
      <a class="btn btn-primary btn-sm" href="{{ post.url }}">read more &raquo;</a>
    </blockquote> 
  </div>
  {% endfor %}
</div>

<div class="row">
  {% for post in site.posts limit:2 offset:5 %}
  <div class="col-6 col-xs-12 col-sm-12 col-lg-6">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <span class="text-muted">{{ post.date | date_to_string }}</span>
    <blockquote>
      <p>{{ post.excerpt }}</p>
      <a class="btn btn-primary btn-sm" href="{{ post.url }}">read more &raquo;</a>
    </blockquote> 
  </div>
  {% endfor %}
</div>