.book {
  display: flex;
  margin: 16px 0;
}

.book__image {
  flex: 1;
}

.book__details {
  flex: 3;
  padding: 0 20px;
}

.book__title {
  margin-top: 0;
}

.book__subtitle {
  color: #333;
  font-size: 0.85em;
  font-style: italic;
}
