body { 
	padding-top: 70px;
	padding-bottom: 0;
	margin-bottom: 0;
}

body > footer {
	text-align: center;
	padding-top: 8px;
	background: #222;
}

/*$gradientStart: #1a82f7;
$gradiendtEnd: #2f2727;*/
$gradientEnd: #1a82f7;
$gradientStart: #222;

@mixin pad-bottom {
  padding-bottom: 20px;
}

.jumbotron {
  color: #fff;

  /* fallback */
  background-color: #1a82f7;
  /*background-image: url(images/linear_bg_1.png);*/
  background-repeat: repeat-y;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from($gradientStart), to($gradientEnd));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, $gradientEnd, $gradientStart);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, $gradientEnd, $gradientStart);

  /* IE 10 */
  background: -ms-linear-gradient(left, $gradientEnd, $gradientStart);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, $gradientEnd, $gradientStart);

  blockquote {
  	border: 0;
  }

  .text-muted {
  	color: #ddd;
  }
}

.about-page {
  float: left;
  padding: 0 20px 20px 0;
}

#my-links {
  @include pad-bottom;
}

#recent-posts {
  font-size: 1.1em;
  ul { 
    li {
      line-height: 1.8
    }
    li:nth-child(2n + 1) {
      background-color: #eef;
    }
    @include pad-bottom;
  }
}