<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} | {{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Full Frontal Nerdity">
    <meta name="author" content="{{ site.author }}">

    <link rel="shortcut icon" href="/assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/ico/apple-touch-icon-57x57.png">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/assets/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.js"></script>
      <script src="/assets/js/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    {% include header.html %}

    <div class="container">
      {{ content }}
    </div>

    {% include footer.html %}

    <!-- <a href="http://github.com/pseudomuto"><img style="position: absolute; top: 50px; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a> -->

    <script type="text/javascript" src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-521a7d057b074526"></script>
    <script type="text/javascript">
      addthis.layers({
        'theme' : 'transparent',
        'share' : {
          'position' : 'left',
          'numPreferredServices' : 4
        }, 
        'follow' : {
          'services' : [
            {'service': 'facebook', 'id': 'david.muto'},
            {'service': 'twitter', 'id': 'pseudomuto'},
            {'service': 'linkedin', 'id': 'davidmuto'},
            {'service': 'github', 'id': 'pseudomuto'}
          ]
        }
      });
    </script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <!-- AddThis Smart Layers END -->
  </body>
</html>
